<%- include('includes/header') %>
<%- include('includes/sidebar') %>
<%- include('includes/topbar') %>



<div class="container py-md-5 container--narrow card">
  <%- include('includes/flash') %>
  <a class="small font-weight-bold" href="/post/<%= post._id %>">&laquo; Back</a>
  <h5 class="card-header mt-3">Create Layer</h5>
  <div class="card-body">
    <form action="/layer/create-layer" method="POST" enctype="multipart/form-data">
      <div class="form-group ">
        <label for="post-name" class="text-muted mb-1"><big><strong><%= post.name %></strong></big></label>
        <input required value="<%= post.name %>" name="name" id="post-name"
          class="form-control form-control-lg form-control-title" type="search" autocomplete="off">
      </div>

      <div class="form-group ">
        <label for="post-name" class="text-muted mb-1"><small>Layer-Name</small></label>
        <input required name="layerName" id="layerName" class="form-control form-control-lg form-control-title"
          type="text" placeholder="" autocomplete="off">
      </div>

      <div class="form-group ">
        <label for="floor" class="text-muted mb-1"><small>Floor</small></label>
        <input required name="floor" id="floor" class="form-control form-control-lg form-control-title" type="number"
          placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-title" class="text-muted mb-1"><small>Upload floors</small></label>
        <input type="file" accept="images/*" name="images" multiple
          class="form-control form-control-lg form-control-title">
      </div>

      <div class="form-group">
        <label for="post-address" class="text-muted mb-1"><small>Address</small></label>
        <input required value="<%= post.address %>" name="address" id="post-address"
          class="form-control form-control-lg form-control-title" type="search" autocomplete="off">
      </div>

      <button class="btn btn-primary btn-block">Create Layer</button>
    </form>
  </div>
</div>


<!-- footer begins -->
<%- include('includes/footer') %>
<%- include('includes/scripts') %>