<%- include('includes/header') %>
<%- include('includes/sidebar') %>
<%- include('includes/topbar') %>


<div class="container py-md-5 container--narrow">

  <%- include('includes/flash') %>

  <p><strong>Total Floors: <%= layers.length %></strong></p>

  <div class="list-group">
    
    
    <% layers.forEach(function(layer) { %>
     
        <a href="/layer/<%= layer._id %>" class="list-group-item list-group-item-action">
    
          <strong><%= layer.name %></strong> <br>
        
            <strong>Floors: <%= layer.info[0].floor %></strong>
      
        </a>
    <%  }) %>

    
  </div>

</div>



<%- include('includes/footer') %>
<%- include('includes/scripts') %>