<%- include('includes/header') %>
<%- include('includes/sidebar') %>
<%- include('includes/topbar') %>



<div class="container py-md-5 container--narrow">

  <%- include('includes/flash') %>

  <p><strong>Total Floors: <%= floors.length %></strong></p>

  <div class="list-group">
    <% floors.forEach(function(floor) { %>
      <a href="/layer/<%= floor.areaID %>"  class="list-group-item list-group-item-action">
    
      
      <strong><%= floor.name %></strong>

      <button type="button" class="btn btn-danger float-right">Delete</button>
      <button type="button" class="btn btn-primary btn-margin float-right">Edit</button>
      
    </a>
    <%  }) %>

   
  </div>

  <br/>
  <div>
   


<%- include('includes/scripts') %>