<%- include('includes/header') %>
<%- include('includes/sidebar') %>
<%- include('includes/topbar') %>



<div class="container py-md-5 container--narrow">

  <%- include('includes/flash') %>
  <h1><strong> Name of Building: <%= singleBuilding.name %></strong></h1>
  <p><strong>Total Floors: <%= floors.length %></strong></p>

  <div class=" floor-btn btn-group-vertical" role="group" aria-label="First group">
    <% floors.forEach(function(floor, index) { %>

      
        
        <a href="/layer/<%= floor.areaID %>" class="btn btn-primary" role="button" aria-pressed="true"><%= index %></a>
     
         
        
   
    <%  }) %>

   
  </div>

  <br/>
  <div>
   


<%- include('includes/scripts') %>